{% layout "layouts/base.liquid" %}

{% block content %}
  <div class="ui container">
    <div class="ui breadcrumb">
      <a class="section" href="/">Rio</a>
    </div>

    <h1>project: rio</h1>
    <ul>
      <li><a href="/account/index">index</a></li>
      <li><a href="/account/today">today</a></li>
    </ul>
  </div>
{% endblock %}