{% layout "layouts/base.liquid" %}

{% block content %}
  <div class="ui text container">
    <h1>project: rio</h1>
    <ul>
      <li><a href="/account/index">account</a></li>
    </ul>
  </div>
{% endblock %}